.user-container{
    background-color: rgb(111, 108, 103);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
    border-radius: 10px;

}

#user-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}